<form method="PATCH" action="/students/<%=@student.id%>/update">
<input id="hidden" type="hidden" name="_method" value="PATCH" /> 
<h1>Edit Student</h1>
<label>Name: </label>
    <%= @student.name %>
    <input type="text" name="name" required="true" id="name">
<br>
<label>Mod: </label>
    <%= @student.mod %>
      <select name="mod" id="student[mod]">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
<input type="submit">
</form>