<form method="POST" action="/students/create">
<h1>New Student Form</h1>
<label>Name: </label>
    <input type="text" name="name" required="true">
    <br>
<label>Mod: </label>
    <select name="mod">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
<input type="submit">
</form>