<h1>Create a new ducky!</h1>

<form method = POST action= /ducks>
    <div>Ducky Name: <input type = "text" name = "name"></div>
    <div>What That Ducky Like?: <input type = "text" name = "description"></div>
    <div>
        <label>Select Human Sidekick: <label>
            <select name="student_id">
            <% @students.each do | student | %>
            <option value = "<%=student.id %>">
                <%= student.name %>
            </option>
            <%  end %>
            </select>
    </div>
    <div><input type = "submit" value = 'ARISE DUCKY!!!'></div>
</form>