<form method="POST" action="/ducks">
Name:<input type="text" name="name" required ="true"><br>
Description:<input type="text" name="description" required ="true"><br>
Student_id:<input type="text" name="student_id" required ="true"><br>
<input type="submit" >
</form>